.Selector .switch, .Visualizer .switch {
    height: 40px;
    width: 40px;
    display: inline-block;
    color: whitesmoke;
    margin: 0px 3px;

  }


  .Selector .instrumentsOptionsSwitch,  .Selector .removeInstrumentSwitch {
      background-color: transparent;
      font-size: 2.3rem;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      cursor: pointer;
  }

.Selector .instrumentsOptionsSwitch > div {
    margin-bottom: 0.15em;
}

.Selector > .instrumentsOptionsSwitch {
    color: whitesmoke
}

.Selector > .instrumentsOptionsSwitch.active {
    color: rgb(119, 11, 119);
}

.Selector .instrumentNameSwitch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 0.5em;
    cursor: default;
    text-align: right;

}